/*Debug div border*/
/*div {
    border: 1px outset red;
    border-style: dashed;
}*/


/*===== Main style =====*/

/*Fonts and colors*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
}


/*Shaded boxes*/
.shaded-box {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -8px -8px 8px white;
}


/*Links*/
a {
    color: DodgerBlue;
    text-decoration: none;
}

a:visited {
    color: DodgerBlue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

a:active {
    text-decoration: underline;
}



/*===== Overall div structure =====*/

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'personal name'
        'personal overview'
        'review review';
    grid-template-columns: min-content auto;
    row-gap: 0;
    column-gap: 1.5cm;
    max-width: 25cm;
}

.info-block {
    text-align: left;
    vertical-align: top;
    padding: 0pt 15pt;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5pt;
}



/*====== Info blocks ======*/

/*Name*/
#name {
    grid-area: name;
    padding-bottom: 0pt;
}


/*Photo and contacts*/
#personal-outer {
    grid-area: personal;
}

#personal {
    padding-top: 25pt;
    padding-bottom: 10pt;
}

#userpic {
    border-radius: 50%;
}


/*Career overview*/
#overview {
    padding: 0pt;
    grid-area: overview;
}

.resume-itemize {
    text-align: justify;
    margin-left: 15pt;
}

.resume-entry {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    column-gap: 15pt;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.resume-years {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75pt;
}


/*Reviews*/
#review {
    grid-area: review;
    padding: 0pt;
    margin-top: 40pt;
}

.review-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20pt 0pt;
    justify-content: space-between;
    align-items: stretch;
}

.review-box {
    padding: 1.5rem;
    text-align: left;
    vertical-align: top;
    border-radius: 5pt;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 43%;
}

div.review-box h4 {
    margin-top: 5pt;
    margin-bottom: -5pt;
}

div.review-box p {
    text-align: justify;
    margin-bottom: 0pt;
}

p.subyears {
    color: gray;
    font-size: 80%;
}



/*====== On small screens ======*/

@media screen and (max-width: 20cm) {
    .grid-container {
        grid-template-areas:
            'name'
            'personal'
            'overview'
            'review';
        grid-template-columns: auto;
    }
    
    #name {
        text-align: center;
    }
    
    #personal {
        text-align: center;
    }
    
    .resume-entry {
        flex-wrap: wrap;
    }

    .review-box {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    #review {
        margin-top: 0pt;
    }

    #personal {
        margin-top: 15pt;
        margin-bottom: 30pt;
    }
}
